body {
  margin: 0;
  background-color: rgb(195, 227, 254);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%;
  background: rgba(134, 163, 204);
}

.logo {
  height: 100%;
  width: 100%;
  background-image: url('./whalelogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  padding: 15px 30px;
}

// .Environments,
// .Carousel,
.SystemMetrics {
  border: 3px solid rgb(134, 163, 204);
  border-radius: 15px;
  margin: 3px;
}

.Environments {
  // width: 15%;
  width: 300px;
  overflow-y: scroll;

  .ImagePreview {
    display: flex;
    flex-direction: row;
    // flex-wrap: none;
    height: 100px;
    // width: 300px;
    margin: 0;
    background-color: rgb(134, 163, 204);
    margin: 40px auto 0 auto;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    margin: 0;
    // padding: 0;
  }
}

.Carousel {
  width: 50%;
  margin: none;
}

.SystemMetrics {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.CPU-metric,
.Memory-metric {
  height: 40%;
  width: 80%;
  margin: 2px;
  background-color: rgb(134, 163, 204);
  margin: auto;
}
