$background: #1b263b;
$panels: #415a77e3;
$carouselPanel: #AEBDCA;
$tertiary: #AEBDCA;
$primary: #e0e1dd;
$secondary: #AEBDCA;
$green: #5f995e;
$red: rgba(216, 96, 96, 0.571);
$lightred: rgb(199, 64, 64);
$blue: #277BC0;
$yellow: #daca3d9a;
$yellowfont: #daca3d;
$paused: #6c757d;
$legend1: rgba(102, 103, 171);
$legend2: rgb(84, 121, 85);
$legend3: rgba(171, 74, 63);
$legend4: rgba(178, 102, 61);
$legend5: rgba(174, 142, 68);
$legend6: rgb(171, 97, 121);
$carouselActive: #343a3f;
$logbackground: #1b263b;
$logborder: #778da8;

// 'rgba(102, 103, 171, 1)', 
// 'rgba(241, 138, 173, 1)', 
// 'rgba(234, 103, 89, 1)', 
// 'rgba(248, 143, 88, 1)', 
// 'rgba(243, 198, 95, 1)',
// 'rgba(139, 194, 140, 1)',