$background: #1b263b;
$panels: #415a77e3;
$tertiary: #778da9;
$primary: #e0e1dd;
$secondary: #d9d9d9;
$green: #5f995e;
$red: rgb(216, 96, 96);
$lightred: rgb(199, 64, 64);
$blue: #277BC0;
$yellow: #C0B236;
$paused: #6c757d;
$legend1: #ff6384;
$legend2: #36a2eb;
$legend3: #ffcf56c4;
$legend4: rgba(75, 192, 192, 0.7);
$legend5: rgba(153, 102, 255, 0.7);
$legend6: rgba(255, 159, 64, 0.7);
$carouselActive: rgb(63, 63, 63);