$background: #1b263b;
$panels: #415a77e3;
$tertiary: #778da9;
$primary: #e0e1dd;
$secondary: #d9d9d9;
$green:  rgb(77, 153, 77);
$red: rgb(159, 70, 70);
$lightred: rgb(245, 93, 93);
$blue: rgb(67, 67, 237);
$yellow: rgb(245, 212, 93);
$paused: #6c757d;