@import 'variables.scss';

.loadGauge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loading-center {
    width: 100%;
    text-align: center;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: $background;
  margin: 0 auto;
  color: $tertiary;
  background-image: linear-gradient(
      rgba(45, 45, 45, 0.7) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(45, 45, 45, 0.7) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100vh;
  max-width: 1700px;

  .links {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    top: 15px;
    right: 40px;
  }

  .App {
    .main {
      width: fit-content;
      display: grid;
      grid-template-columns: 2fr 4fr 2fr;
      padding: 30px;
      margin-top: 20px;
    }
  }

  .left {
    display: grid;
    grid-template-rows: 1fr 6fr;
    align-items: center;
    height: fit-content;
    padding-bottom: 30px;
    // position: relative;
    img {
      width: 110px;
      position: relative;
      bottom: 34px;
      right: 36px;
    }

    .top {
      display: flex;
      justify-content: space-between;
    }
    .title {
      width: 100%;
      font-size: 50;
      font-family: 'Kanit', sans-serif;

      // height: 170.78;

      a {
        color: $tertiary;
        font-size: 1.5rem;
      }

      svg {
        margin: auto 0;
        color: $tertiary;
      }

      .grafana {
        // color: rgb(239, 90, 39);
        background-image: linear-gradient(
          180deg,
          rgba(239, 90, 39, 1) 0%,
          rgba(251, 197, 26, 1) 85%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    h1 {
      font-size: 50px;
      position: relative;
      bottom: 20px;
    }

    h2 {
      font-size: 1.3rem;
      position: relative;
      bottom: 30px;
      left: 64px;
    }
  }

  .SystemMetrics {
    display: flex;
    flex-direction: column;
    // grid-template-rows: 2fr 2fr 2fr;
    // padding: 0 10px 30px 0;
    margin: 0 auto;
    // height: 100%;
    width: 100%;
    // border-radius: 10px;

    .mem,
    .cpu {
      background-color: $panels;
      display: flex;
      flex-direction: column;
      height: 230px;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 10px;

      label {
        margin: 0 auto 10px auto;
        font-size: 1.2rem;
        color: $tertiary;
      }

      .circles {
        display: flex;
        justify-content: space-evenly;

        .liquidGauge {
          margin-top: 10px;
        }
      }
    }

    .bottom {
      display: flex;

      .errors {
        display: flex;
        flex-direction: column;

        .healthfail {
          background-color: $panels;
          font-weight: 600;
          // height: 178px;
          width: 135px;
          margin: 0 15 15 0;
          border-radius: 10px;
          padding: 2.5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          #title {
            font-size: 25;
            padding-bottom: 10px;
          }

          #num {
            font-size: 40;
          }

          .green {
            color: $green;
          }

          .red {
            color: $red;
          }
        }
      }

      .legendInner {
        background-color: $panels;
        // height: 178px;
        width: 285px;
        padding: 15px;
        border-radius: 10px;
        font-size: 1.2rem;
        overflow: scroll;

        .legendItem1,
        .legendItem2,
        .legendItem3,
        .legendItem4,
        .legendItem5,
        .legendItem6 {
          color: $secondary;
          border-radius: 15px;
          margin: 4px 2px 0px 2px;
          padding: 3px 10px;
          height: max-content;
          text-align: center;
        }

        .legendItem1 {
          background-color: $legend1;
        }

        .legendItem2 {
          background-color: $legend2;
        }

        .legendItem3 {
          background-color: $legend3;
        }

        .legendItem4 {
          background-color: $legend4;
        }

        .legendItem5 {
          background-color: $legend5;
        }

        .legendItem6 {
          background-color: $legend6;
        }
      }
    }
  }
}

.middle {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin: 0 auto;
  height: fit-content;
  width: 765px;

  .CarouselDiv {
    background-color: $carouselPanel;
    overflow: scroll;
    padding: 10px 30px;
    margin: 0 15px;
    border-radius: 10px;
    height: 81vh;

    .carousel-control-next,
    .carousel-control-prev {
      margin-top: 50px;
      height: 700px;
    }

    .carousel-control-next-icon {
      position: relative;
      left: 66px;
      top: 24px;
      color: $carouselActive;
    }

    .carousel-control-prev-icon {
      position: relative;
      right: 66px;
      top: 24px;
    }

    button {
      width: 50px;
      height: 5px;
      margin: 0 10px;
      border: none;
    }
  }

  .carousel-indicators {
    position: absolute;
    top: 730px;

    button.active {
      background-color: $carouselActive;
    }
  }

  .header {
    display: flex;
    margin: auto 10px;
    justify-content: space-between;

    .badge {
      height: min-content;
      padding: 10px;
      margin: auto 0;
      width: 180px;
    }

    h2 {
      font-size: 1.75em;
      overflow: scroll;
      align-self: center;
      color: $panels;
      font-weight: 600;
      margin: auto 0;
    }

    select {
      margin: 0 auto;
      width: 160px;
      padding: 0 10px;
      height: 32px;
      margin: auto 0;
      border-radius: 50px;
      cursor: pointer;
      background-color: $carouselActive;
      color: $carouselPanel;
      font-size: 0.8rem;
      text-align: center;
      // appearance: none;
      font-weight: 600;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;

  padding: 30px 0;
  // margin: 0 10px;
  height: fit-content;

  .Environments {
    overflow: scroll;
    height: 50vh;
    margin-bottom: 15px;

    .ImagePreview {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: fit-content;
      width: 390px;
      padding: 10px;
      border-radius: 10px;
      color: $secondary;
      background-color: $panels;
      margin-bottom: 20px;

      p {
        margin: 0;
      }

      .small {
        font-size: 0.85rem;
      }

      .space {
        height: 15px;
      }

      .large {
        color: $yellowfont;
        font-size: 1.3rem;
        white-space: nowrap;
      }

      .blueBadge,
      .redBadge,
      .greyBadge {
        border-radius: 15px;
        width: min-content;
        padding: 1px 8px;
        margin-bottom: 2px;
      }

      .blueBadge {
        background-color: $blue;
        color: $primary;
      }

      .redBadge {
        background-color: $lightred;
        color: $primary;
      }

      .greyBadge {
        background-color: $paused;
        color: $primary;
      }

      #buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 100px;

        button {
          border: 0;
          color: $primary;
        }

        .btn-success {
          background-color: $green;
        }

        .btn-danger {
          background-color: $red;
        }

        .btn-warning {
          background-color: $yellow;
        }
      }
    }
  }

  form {
    display: flex;
    margin-top: 20px;
  }

  .logs {
    background-color: $panels;
    // max-height: 40vh;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 390.5px;
    // max-height: 265px;

    input,
    select {
      margin: 0 12px;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.2rem;
      cursor: pointer;
      border-radius: 5px;
      background-color: #ddd;
      list-style: none;
      border: none;
    }

    .logs-list {
      background-color: $logbackground;
      border: 2px solid $logborder;
      margin: 0;
      padding: 2px;
      height: 200px;
      // width: 100%;
      overflow: scroll;

      .logs-list-item {
        margin: 0;
        padding: 0;
        font-size: 10px;
        list-style-type: none;
        border-bottom: 2px solid $logborder;
        word-wrap: break-word;
      }
    }
  }
}
